@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@view-transition {
  navigation: auto;
}

* {
  font-family: "IBM Plex Sans";
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  --brd-background: rgb(149, 149, 149);
  --brd-inverse-background: #161616;

  background-color: var(--brd-background);
}

.brd-main {
  display: flex;
  flex-direction: column;

  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
}

/* Drop spacing on small media. */
@media (min-width: 600px) {
  docling-img,
  docling-list {
    padding: 1rem;
  }

  docling-img::part(pages),
  docling-list::part(pages) {
    gap: 1rem;
  }
}

/* docling-img::part(pages) {
  flex-direction: row;
  flex-wrap: wrap;
}

docling-img::part(page) {
  width: 10rem;
} */

docling-img::part(page),
docling-list::part(page) {
  box-shadow: 0 4px 8px 0 #00000029, 0 0 8px 0 #00000014;
}

.brd-main b {
  font-weight: 600;
}

.brd-main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  z-index: 1;

  background-color: var(--brd-inverse-background);
  box-shadow: 0 0 0.5rem #000000a8, 0 0 0.5rem #00000054;
}

.brd-doc-header {
  position: sticky;
  top: 0;
  height: 3rem;
  z-index: 2;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  background-color: var(--brd-inverse-background);
  color: white;
}

.brd-doc-name {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  line-height: 0.925rem;
}

:target {
  outline: 3px solid blue;
  z-index: 1;
}
